# top-most EditorConfig file
root = true

[*]
end_of_line = crlf

[*.{cs,xaml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# PropertyDocumentationHeader: The property must have a documentation header.
dotnet_diagnostic.PropertyDocumentationHeader.severity = none

# MethodDocumentationHeader: The method must have a documentation header.
dotnet_diagnostic.MethodDocumentationHeader.severity = none

# Default severity for analyzer diagnostics with category 'DocumentationHeader'
dotnet_analyzer_diagnostic.category-DocumentationHeader.severity = none

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
