<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for COTG" Description="Code analysis rules for COTG.csproj." ToolsVersion="16.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="concurrencycheckrules.ruleset" Action="Default" />
  <Include Path="concurrencyrules.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="managedminimumrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="mixedminimumrules.ruleset" Action="Default" />
  <Include Path="mixedrecommendedrules.ruleset" Action="Default" />
  <Include Path="nativeminimumrules.ruleset" Action="Default" />
  <Include Path="nativerecommendedrules.ruleset" Action="Default" />
 </RuleSet>