<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="COTGRules" ToolsVersion="16.0">
  <Include Path="concurrencyrules.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
</RuleSet>